{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h1>Control de Asistencia</h1>
  <table class="table">
    <thead>
      <tr>
        <th class="table-primary" colspan="14">ASIGNATURAS PROGRAMADAS PARA HOY <span class="text-muted">{{ day }} - {{ date }}</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="table-success">Plan</td>
        <td class="table-success">Semestre</td>
        <td class="table-success">Código</td>
        <td class="table-success">Grupo</td>
        <td class="table-success">Nombre Asignatura</td>
        <td class="table-success">Sede</td>
        <td class="table-success">Jornada</td>
        <td class="table-success">Intensidad</td>
        <td class="table-success">Salón</td>
        <td class="table-success">Día</td>
        <td class="table-success">Hora Inicio</td>
        <td class="table-success">Hora Fin</td>
        <td class="table-success" colspan="2">Acciones</td>
      </tr>
      {% for class in classes %}
      <tr>
        <td class=""><small>{{ class.plan }}</small></td>
        <td class=""><small>{{ class.semester }}</small></td>
        <td class=""><small>{{ class.code }}</small></td>
        <td class=""><small>{{ class.cluster }}</small></td>
        <td class=""><small>{{ class.name }}</small></td>
        <td class=""><small>{{ class.campus }}</small></td>
        <td class=""><small>{{ class.time }}</small></td>
        <td class=""><small>{{ class.intensity }}</small></td>
        <td class=""><small>{{ class.classroom }}</small></td>
        <td class=""><small>{{ class.day }}</small></td>
        <td class=""><small>{{ class.start_time }}</small></td>
        <td class=""><small>{{ class.end_time }}</small></td>
        <td class=""><img
            src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3cpath fill='%230dab49' d='M400 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zm-204.686-98.059l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.248-16.379-6.249-22.628 0L184 302.745l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.25 16.379 6.25 22.628.001z'/%3e%3c/svg%3e"
            width="25" height="25"></td>
        <td class=""><img
            src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3e%3cpath fill='%23d2c6c6' d='M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm64 236c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8zm0-64c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8zm0-72v8c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12zm96-114.1v6.1H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 98c4.5 4.5 7 10.6 7 16.9z'/%3e%3c/svg%3e"
            width="25" height="25"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}